a:hover,
a:focus,
.theme-color,
.facts.box:hover h1,
.facts.box:hover h3,
.opening-hours:hover h1,
.opening-hours:hover h2,
.service-box:hover h4 a,
.tablinks.active,
.team-member ul li a:hover,
.breadcrumb>.active,
.service-detail:hover h3 a,
.pagination-box span:hover,
.sidebar-box h4,
.admin-section h3,
.comment-section h3,
.comment-section p a,
.theme-form h3,
i.red,
.error-page h2,
.contact-detail i,
.timer ul li span.normal,
.thecube h4,
.filter-section input,
.filter-section input[type="checkbox"]:checked + label:before,
ul.bottom-footer-navigation li a:hover,
.Categories ul li a:hover,
.star-box-section.rating-box i,
.star-box-section p i,
.Products-in-stock,
.preloader .loader,
.product-price-boxs p {
    color: #b18726;
}
/**
color: #faa796;
**/
.theme-bg,
.itg-button:hover,
.theme-circle:hover,
.theme-circle:focus,
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span,
.service-box:hover .big-circle,
.owl-theme .owl-nav [class*='owl-']:hover,
.sticker-tag:hover,
.service-box:hover .itg-button,
.top-bar-icon li a span,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover,
.itg-button.dark,
.comming-soon-content .search_bar button,
.thecube .cube:before,
.demo-button .itg-button,
.theme-heading h1:before,
.theme-heading h1:after,
.filter-section .ui-state-default,
.filter-section .ui-widget-content .ui-state-default,
.filter-section .ui-widget-header .ui-state-default,
.filter-section .ui-button,
html .ui-button.ui-state-disabled:hover,
.filter-section.ui-button.ui-state-disabled:active,
.filter-section input[type="checkbox"]:checked + label:before,
.register-section .tablinks.active,
.register-section .tablinks:hover,
ul.nav.navbar-nav li a:hover,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-nav>li>.dropdown-menu,
.dropdown-menu,
.theme-heading span,
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.facts.box:hover .big-circle,
.gallery-img figure:after,
.product-text-sec-box .itg-button.light:hover,
.table-section:hover .itg-button.light,
.table-section:hover .month-box a,
.new-letter-section .nav-seach-box .button-style,
.foot-sec h3:after,
.service-detail:hover .itg-button.light,
.chef-detail.box .theme-circle:hover,
.tooltip-box .progress-bar,
.comming-soon-content.box .theme-circle:hover,
.pagination-box span:hover,
.checbox-section input[type="checkbox"]:checked + label:before,
.rating-section .itg-button,
.order-bosx,
.details-section-boxs:hover .big-circle,
.product-text-sec-icons1 li a:hover,
.serch-result.box-sec .product-text-sec-icons1 li a:hover,
.serch-result.box-sec .product-text-sec-box .itg-button.light:hover,
.facts box:hover .big-circle,
#productslist .product-text-sec-icons1 li a:hover,
#productslist .product-text-sec-box .itg-button.light:hover,
#style-switcher h2 a {
    background-color: #b18726;
}
.itg-button:hover,
.service-box:hover .itg-button,
.customer-detail figure,
.customer-detail .customer-img,
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover,
.itg-button.dark,
.demo-button .itg-button,
.filter-section input[type="checkbox"]:checked + label:before,
.register-section .tablinks.active,
.register-section .tablinks:hover,
.navbar-nav>li>.dropdown-menu,
.dropdown-menu li .dropdown-menu,
.opening-hours:hover {
    border-color: #b18726;
}
.top-bar-icon li a span:before {
    border-bottom-color: #b18726;
}
.has-submenu.highlighted:before {
    border-color: transparent transparent #b18726 transparent;
}
.left-side.menu:after {
    border-color: transparent #b18726 transparent transparent;
}
.gallery-dropdown-left:after {
    border-color: transparent transparent transparent #b18726;
}